#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.travel_main_div
{
    border: 1px;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.travel_main_div img
{
        width: 100%;
}

.travel_main_div hr
{
    width: 230px;
}

.travel_main_div p
{
    margin-left: 30px;
}

.movie_head
{
    font-size: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.movie_head i
{
    float: right;
}

.movie_head span
{
    color: aquamarine;
}
.environment_li
{
    margin-top: 15px;
}
.environment_li h4
{
    border-bottom: 3px solid white;
    padding: 7px;
}
.environment_li p
{
    margin-top: 10px;
}
